#preloader {
  background-color: ;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}
#preloader > img {
  left: 47%;
  position: absolute;
  top: 48%;
}
body {
  background-color: #fff;
    font-family: sans-serif;
    line-height: 21px;
  font-size: 13px;
    color: #6a737b;
}

html {
    position: relative;
    min-height: 100%;
} 


#navigation {
 
  border: 0 none;
  margin: 0;
  -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
      -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
      transition: background-color 800ms linear;
}

.navbar-toggle i {
  color: #fff;
}
.navbar-brand {
 padding: 0;
}
.navbar-nav li a {
  border-top: 1px solid transparent;
  color: white;
}
.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
  
  color: #000000;
  opacity: 0.6;
}
 .awesome {
      
      
      
      width:100%;
      
      margin: 0 auto;
      text-align: center;
      
      color:#313131;
      font-size: 17px;
      position: absolute;
      -webkit-animation:colorchange 0.5s infinite alternate;
      
      
    }

    @-webkit-keyframes colorchange {
      30% {
        
        color: yellow;
      }
      
      100%
      {
        color:red;
      }
    }
/* news event */
.holder { 
  position: center;
  background-color:#00518E;
  width:225px;
  height:420px;
  overflow:hidden;
  
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 20px;
  width:225px;
  height:420px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
  text-align: left;
}
.holder ul li a {
  color:white;
  text-decoration:none;

}

.page-header h2{
  padding-top: 40px;
  font-family: normal;
  color:#00518E;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  padding-left: 60px;
}

}

#slider {
padding-top: 10px;
}

#slider .carousel-inner .item {

 height: 100%;
}

.carousel-indicators li {
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


}

.devider {
  margin-top: 20px;
  padding-top: 20px;
}

.devider i {
  color: teal;
}

.devider:before,
.devider:after {
  content: "______________________";
  color: teal;
  position: relative;
  bottom: 0px;
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}
#team {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.panel-heading{
  color: white;
  font-family: algerian;
  font-size: 20px;
}
.new {
  display: inline;
}

#contact {
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-address {
  padding-top: 30px;
  color: black;
  text-align: left;
  font-family: inherit;
}
.feedback {
  font-family: cursive;
  font-size: 20px;
  text-align: center;
}

.input{
  padding-top: 0px;
}
.contact-form .form-control {
  
}
.contact-form .input-group {
  width: 100%;
 
}
.contact-form .input-field {
   margin-top: 30px;
  display: inline;
  width: 100%;
  float: left;
}

.contact-form #form-submit {
  background: 15px transparent;
  border: 0 none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  text-align: right;
  width: 90px;
}
.btna{
  text-align: right;

}
.list-inline li a {
  color: black;
  padding-right: 20px;
}
.footer{
  background-color: #00518E;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 80px;
  padding-bottom: 30px;
 
}


