.mainDiv{
	top: 0;
	width: 100%;
	height: 100%;
	font-family: times new roman;
	font-weight: bold;

}
.mainDiv h2{
	font-size: 2em;
}
#battel {

	padding-top: 3em;
}
#battel img{
height: 3.2em;
width: 3.6em;
}
.img-valign {
  vertical-align: middle;
  display: inline-block;
}

#batsman{
	padding-top: 3em;
}
#batsman  h5, #bowler h5{


}
#batsman  h4, #bowler h4{

color: blue;
}
#recent{
	padding-top: 3em;
}
.ball li{
border-radius: 50%;	
height: 100%;
background-color: #E5E6E9;
}


@media only screen and (min-width: 320px) and (max-width: 480px){
	#battel h3{
		font-size: 1em;
	}
 	#battel img{
 		height: 2.2em;
 		width: 2.5em;
 	}
}