@media only screen and (min-width: 320px) and (max-width: 480px){
  .con-width{
    width:100%;
    height: 100%;
  }
  .con-width img{
width: 3em;
height: 3em;
}
.hello{
    font-size: 1em;
    font-family: times new roman;
     color: #2A74F6;
 }
 #news{
  padding: 15%;
 }
 .holder { 

  position: relative;
  background-color:#24385B;
  width:100%;
  height:30em;
  overflow:hidden;
  
  font-family:Helvetica;
}
 .holder .mask {
  position: relative;
  left: 0px;
  top: 20px;
  width:100%;
  height:30em;

  overflow: hidden;
}
.footer{
  margin-top: 3em;
  width: 100%;
}
.social .fa{
  font-size: 90%;
}
.social p{
  font-size: 90%;
}
}
#battel1 span{
  font-size: 1em;
}
#battel1 p{
  font-size: 1em;
}
#battel1 img{
   margin-left:0;
  margin-right: 0;
  height: 1.5em;
  width: 1.5em;
}
#battel a{
  font-size: 1em;
   padding-top:0;
  padding-left: 0;
}
.img-valign {
  vertical-align: left;}

  /*---------tablet view----------*/
  @media only screen and (min-width: 768px) and (max-width: 1024px)
  {


 .holder { 

  position: relative;
  background-color:#24385B;
  width:100%;
  height:18em;
  overflow:hidden;
  
  font-family:Helvetica;
}
 .holder .mask {
  position: relative;
  left: 0px;
  top: 20px;
  width:100%;
  height:18em;

  overflow: hidden;
}
  }
